{% extends 'base.html' %}

{% block title %} Blogs {% endblock %}
{% block Activate1 %} active {% endblock %}

{% block body %}

<main class="container my-4">
    <div class="row">
        {% for b in blogs %}
        <div class="card col-lg-4 my-2 mx-3" style="width: 25em;">
            <img src="/static/assets/image.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ b.title }}</h5>
                <p class="card-text">{{ b.text }}</p>
                <a href="/blogs/{{ b.id }} " class="btn btn-primary">Read</a>
            </div>
        </div>
        {% endfor %}
    </div>
</main>

{% endblock %}
